/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased; }

*,
*:before,
*:after {
  -webkit-font-smoothing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0; }

b {
  font-weight: normal; }

label,
select,
option,
button {
  cursor: pointer; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

button,
[type='button'],
[type='submit'],
[type='reset'] {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  button::-moz-focus-inner,
  [type='button']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner,
  [type='reset']::-moz-focus-inner {
    padding: 0;
    border: 0; }

img,
video {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Kagami SC';
  src: local("Songti SC Regular"), local(STSongti-SC-Regular);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Kagami SC';
  src: local("Songti SC Bold"), local(STSongti-SC-Bold);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Kagami TC';
  src: local("Songti TC Regular"), local(STSongti-TC-Regular);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Kagami TC';
  src: local("Songti TC Bold"), local(STSongti-TC-Bold);
  font-weight: bold;
  font-style: normal; }

:root {
  --zh-font: 'Noto Sans', 'Noto Sans SC', 'Kagami SC';
  --zh-font-serif: 'Noto Sans Serif', 'Noto Serif SC', 'Kagami SC';
  --ja-font: 'Noto Sans', 'Noto Sans JP', 'YuMincho';
  --ja-font-serif: 'Noto Sans Serif', 'Noto Serif JP', 'YuMincho';
  --en-font: 'Noto Sans', 'Roboto';
  --en-font-serif: 'Noto Sans Serif';
  --mono-font: 'Source Code Pro'; }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  min-height: 100%;
  width: 100%;
  overflow: hidden; }

.wrapper {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px; }
  @media screen and (min-width: 680px) {
    .wrapper {
      padding-left: 48px;
      padding-right: 48px; } }
article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article p,
article ul,
article ol,
article pre,
article hr,
article blockquote,
article figure,
article > img:only-child {
  display: block;
  margin: 32px auto; }

article li > ul,
article li > ol {
  margin-top: 0;
  margin-bottom: 0; }

article .task-list-item {
  list-style-type: none; }

article .task-list-item-checkbox {
  margin: 0 0.5em 0.3em -1.6em;
  vertical-align: middle; }

article pre {
  position: relative;
  overflow: hidden;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  margin-bottom: -16px; }
  article pre code {
    display: block;
    overflow-x: auto; }
  article pre > code {
    padding-left: 16px;
    padding-right: 16px; }
  article pre > code {
    padding-top: 16px;
    padding-bottom: 16px; }
  @media screen and (min-width: 680px) {
    article pre {
      margin-left: -48px;
      margin-right: -48px; }
      article pre > code {
        padding-left: 48px;
        padding-right: 48px; } }
article blockquote {
  margin-left: 16px;
  margin-right: 16px; }
  @media screen and (min-width: 680px) {
    article blockquote {
      margin-left: 32px;
      margin-right: 32px; } }
  article blockquote cite {
    display: block;
    text-align: right;
    margin-top: -32px;
    white-space: nowrap; }

article .aside,
article .sidenote,
article .side-note {
  width: 160px;
  float: left;
  margin-left: -32px;
  margin-right: 32px;
  padding: 0; }

@media screen and (max-width: 680px) {
  article h2::before,
  article h3::before,
  article h4::before,
  article h5::before,
  article h6::before {
    color: rgba(0, 0, 0, 0); }
  article .aside,
  article .sidenote,
  article .side-note {
    display: none; } }

@media screen and (min-width: 680px) {
  article .hero-unit {
    margin-left: -32px;
    margin-right: -32px; } }

article h1 + *, article h1 + .aside + *, article h1 + .sidenote + *,
article h2 + *,
article h2 + .aside + *,
article h2 + .sidenote + *,
article h3 + *,
article h3 + .aside + *,
article h3 + .sidenote + *,
article h4 + *,
article h4 + .aside + *,
article h4 + .sidenote + *,
article h5 + *,
article h5 + .aside + *,
article h5 + .sidenote + *,
article h6 + *,
article h6 + .aside + *,
article h6 + .sidenote + * {
  margin-top: -8px; }

.post-header {
  margin-top: 112px;
  margin-bottom: 112px; }

.post-cover {
  margin-top: -80px; }

.post-footer,
#disqus_thread {
  margin-top: 96px;
  margin-bottom: 96px; }

.site-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  justify-content: center;
  margin-left: -32px;
  margin-right: -32px; }

@media screen and (min-width: 680px) {
  .site-nav {
    height: 0;
    justify-content: flex-end; } }

.page-link {
  display: block;
  padding: 0.5em; }

.site-footer {
  padding-top: 32px;
  padding-bottom: 32px; }

.site-footer .wrapper {
  display: flex;
  width: 100%;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: center; }

.social-links {
  text-align: center;
  margin: 1em -16px;
  padding: 0 0.3em;
  white-space: nowrap; }

.credits {
  margin-left: -0.256em;
  white-space: nowrap; }

.post-list-item {
  position: relative;
  margin-top: 32px;
  margin-bottom: 32px; }

.post-item-cover {
  width: 100vw;
  position: absolute;
  top: -16px;
  bottom: -16px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center; }

.post-item-label {
  position: relative; }

.post-description {
  margin-top: 10px;
  margin-bottom: 10px; }

.cover-meta {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px 8px; }
  .cover-meta p {
    margin: 0;
    padding: 0; }

[lang|='en'] {
  line-height: 1.6;
  font-family: "Crimson Text", serif; }

[lang|='zh'] {
  line-height: 1.8;
  font-family: "Crimson Text", var(--zh-font-serif), sans-serif; }

[lang|='ja'] {
  line-height: 1.8;
  font-family: "Crimson Text", var(--ja-font-serif), sans-serif; }

.typeface-sans[lang|='en'] {
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; }

.typeface-sans[lang|='zh'] {
  line-height: 1.8;
  font-family: var(--zh-font), sans-serif; }

.typeface-sans[lang|='ja'] {
  line-height: 1.8;
  font-family: var(--ja-font), sans-serif; }

.typeface-sans [lang|='en'] {
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; }

.typeface-sans [lang|='zh'] {
  line-height: 1.8;
  font-family: var(--zh-font), sans-serif; }

.typeface-sans [lang|='ja'] {
  line-height: 1.8;
  font-family: var(--ja-font), sans-serif; }

body {
  color: #3c3c3c;
  font-size: 18px;
  font-weight: 300;
  font-kerning: normal;
  border-top: 2px solid orange; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block; }

h1 {
  font-size: 1.8em; }

h2 {
  font-weight: bold;
  font-size: 1.4em; }

h3 {
  font-weight: bold;
  font-size: 1.2em; }

h4 {
  font-weight: bold; }

h5 {
  font-weight: bold; }

article h2::before,
article h3::before,
article h4::before,
article h5::before,
article h6::before {
  content: '#';
  display: inline-block;
  text-align: right;
  width: 90px;
  margin-left: -99px;
  margin-right: 9px;
  opacity: 0.08; }

article h3::before {
  content: '##'; }

article h4::before {
  content: '###'; }

article h5::before {
  content: '####'; }

article h6::before {
  content: '#####'; }

article p {
  hanging-punctuation: allow-end; }

article .aside,
article .sidenote,
article .side-note {
  font-size: 0.72em; }

article em {
  font-style: italic; }

article strong {
  font-weight: bold; }

article a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid #CBF8DF;
  box-shadow: inset 0 -4px 0 #CBF8DF;
  background: transparent;
  transition: background 150ms ease; }

article a:hover,
article a:focus {
  background: #CBF8DF; }

article a:visited {
  opacity: .9; }

article ul,
article ol {
  padding-left: 2em; }

article ul {
  list-style-type: disc; }

article ul ul {
  list-style-type: circle; }

article ul ul ul {
  list-style-type: square; }

article ol {
  list-style-type: decimal; }

article blockquote {
  font-style: italic; }

article code {
  display: inline-block;
  padding: 0 0.3em;
  margin: 0 -0.05em;
  font-size: 0.785em;
  font-weight: 400;
  font-family: "JetBrains Mono", var(--mono-font), Courier, Monaco;
  color: #d32f2f;
  background: #fff6f6;
  border-radius: 3px; }

article pre {
  color: #6f6f6f;
  background: #f2f2fa; }
  article pre code {
    color: inherit;
    background: none;
    line-height: 1.6; }

article mark {
  color: inherit;
  background: rgba(255, 255, 0, 0.35); }

article hr {
  border: none;
  border-bottom: 1px solid #f0f0f0;
  width: 30%; }

.site-title,
.site-title:hover,
.site-title:visited {
  display: inline-block;
  font-variant-caps: all-petite-caps;
  font-size: 0.875em;
  font-family: "Crimson Text", serif;
  border-bottom: none;
  white-space: nowrap; }

.site-nav {
  font-size: 0.875em;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.12em; }

.page-link {
  transition: color 0.2s ease-in; }

.site-nav:hover {
  color: #bcbcbc; }
  .site-nav:hover .page-link:hover {
    color: #3c3c3c; }

.post-title {
  word-break: keep-all;
  margin-top: -9px; }

.post-cover {
  position: relative;
  width: 100vw;
  max-height: 40vh;
  margin-left: 50%;
  transform: translateX(-50%);
  overflow-y: hidden; }
  .post-cover .post-cover-wrapper {
    max-height: inherit;
    position: relative;
    transform: translateY(50%); }
  .post-cover img {
    width: 100%;
    margin: 0 !important;
    transform: translateY(-50%); }

.post-footer {
  color: #bcbcbc;
  font-size: 0.875em; }
  .post-footer:after {
    content: '';
    display: table;
    clear: both; }
  .post-footer .post-meta {
    float: left; }
  .post-footer .post-tags {
    float: right; }
  .post-footer .post-tags {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0; }
    .post-footer .post-tags::before {
      content: 'Tags: '; }
    .post-footer .post-tags > li {
      display: inline; }
      .post-footer .post-tags > li:not(:last-child):after {
        content: " / "; }
    .post-footer .post-tags .tag-link {
      transition: color 0.2s ease-out; }
      .post-footer .post-tags .tag-link:hover {
        color: #6f6f6f; }

.social-link {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.social-link:hover {
  transform: translateY(-0.25em); }
  .social-link:hover.social-github {
    color: #333; }
  .social-link:hover.social-twitter {
    color: #1da1f2; }
  .social-link:hover.social-instagram {
    color: #e1306c; }
  .social-link:hover.social-rss {
    color: #f26522; }

.credits {
  color: #bcbcbc;
  font-size: 0.68em; }

.post-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

.post-item-link {
  font-size: 1.4em; }

.post-description {
  font-size: 0.875em; }

.post-item-meta {
  font-variant-caps: all-petite-caps;
  color: #a2a2a2; }

.post-list-item .post-item-cover {
  opacity: 0.03;
  transition: opacity 0.5s ease-out; }

.post-list-item:hover .post-item-cover {
  opacity: 0.15;
  transition: opacity 0.5s ease-out; }

.cover-meta {
  font-family: 'Press Start 2P', cursive;
  font-variant-caps: all-petite-caps;
  font-size: 0.4em;
  color: #fff; }

.site-title,
.site-title:visited,
.site-title:hover {
  margin-left: 3px; }

[lang^='zh'] .post-item-link {
  margin-left: -2px; }

[lang^='zh'] h1 {
  margin-left: -1px; }

[lang^='zh'] h2 {
  margin-left: -2px; }

[lang^='zh'] h3 {
  margin-left: -2px; }

.baseline-fix {
  visibility: hidden; }

.baseline-fix-block {
  display: inline-block;
  vertical-align: top;
  font-size: 0.95em; }

.darkmode--activated {
  background-color: #000; }
  .darkmode--activated .post-item-link {
    color: #999; }
  .darkmode--activated pre,
  .darkmode--activated img {
    opacity: 0.9; }

body {
  opacity: 0;
  transition: opacity 1s; }

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em; }

.post-layout {
  display: flex; }
  @media screen and (min-width: 680px) {
    .post-layout .post-content {
      width: 632px; } }
  .post-layout article {
    width: 100%; }
    @media screen and (min-width: 680px) {
      .post-layout article {
        width: 632px; } }
  .post-layout aside {
    overflow-x: visible;
    display: none;
    margin-left: 68px;
    margin-top: 48px;
    font-size: 0.875em; }
    @media screen and (min-width: 680px) {
      .post-layout aside {
        display: block; } }
.toc {
  width: 300px;
  overflow-y: hidden !important;
  max-height: 89vh;
  top: 48px !important; }
  .toc a {
    line-height: 1; }

.darkmode--activated .toc-link::before {
  background-color: #000; }

.darkmode--activated .is-active-link::before {
  background-color: #340720; }

.darkmode--activated .toc a {
  color: #ccc; }

figcaption {
  font-style: italic;
  text-align: center; }
@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff')
      format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: #f8f8f2;
     background: none;
     /* font-family: "Fira Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     /* padding: 1em;
     margin: .5em 0; */
     overflow: hidden;
     border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: #2E3440;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: #636f88;
 }
 
 .token.punctuation {
     color: #81A1C1;
 }
 
 .namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #81A1C1;
 }
 
 .token.number {
     color: #B48EAD;
 }
 
 .token.boolean {
     color: #81A1C1;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: #A3BE8C;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: #81A1C1;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
     color: #88C0D0;
 }
 
 .token.keyword {
     color: #81A1C1;
 }
 
 .token.regex,
 .token.important {
     color: #EBCB8B;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 
 