.darkmode--activated {
  background-color: #000;
  .post-item-link {
    color: #999;
  }
  pre,
  img {
    opacity: 0.9;
  }
}
body {
  opacity: 0;
  transition: opacity 1s;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
