@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Press+Start+2P');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Sans+SC:wght@100;300;400&family=Noto+Serif&family=Noto+Serif+JP&family=Noto+Serif+SC&family=Source+Code+Pro&display=swap');

:root {
  --zh-font: 'Noto Sans SC', sans-serif;
  --zh-font-serif: 'Noto Serif SC', serif;
  --ja-font: 'Noto Sans JP', sans-serif;
  --ja-font-serif: 'Noto Serif JP', serif;
  --en-font: 'Roboto', sans-serif;
  --en-font-serif: serif;
  --mono-font: 'Source Code Pro', inherit, monospace;
}

@mixin font-sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

@mixin font-serif($font-family-fallback: serif) {
  font-family: "Crimson Text", $font-family-fallback;
}

@mixin font-serif-zh-Hans($font-family-fallback: sans-serif) {
  font-family: "Crimson Text", var(--zh-font-serif), $font-family-fallback;
}

@mixin font-serif-zh-Hant($font-family-fallback: sans-serif) {
  font-family: "Crimson Text", var(--zh-font-serif), $font-family-fallback;
}

@mixin font-serif-ja($font-family-fallback: sans-serif) {
  font-family: "Crimson Text", var(--ja-font-serif), $font-family-fallback;
}

@mixin font-monospace($font-family-fallback: monospace) {
  font-family: var(--mono-font), Courier, Monaco, $font-family-fallback;
}

@function font-size($factor: 1.0) {
  @return $font-size * $factor;
}
