<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  mermaid.init({ startOnLoad: true }, "pre code.language-mermaid", function () {
    const codeBlocks = document.querySelectorAll('code.language-mermaid');
    for (const codeBlock of codeBlocks) {
      codeBlock.style.backgroundColor = 'initial';

      const preBlock = codeBlock.parentNode;
      preBlock.style.border = 'none';
      preBlock.style.textAlign = 'center';
      if (window.darkmode && !window.darkmode.isActivated()) {
        preBlock.style.backgroundColor = 'initial';
      }
    } 
  });
</script>